<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% include 'header.twig' %}
<form action="/create" method="post">
    <input type="text" name="title" content="title">
    <input type="textarea" name="content" content="content">
    {% if name%}
    <input type="hidden" name="username" value={{name}} content="username" >
    {% else%}
    <input type="text" name="username" content="username">
    {% endif %}
    <button type="submit">Valider</button>
</form>
</body>
</html>
