<footer>
    <p style="color: white">Anis / Jimmy / Alexandre / "Arthur"</p>
</footer>
<style>
    footer{
        border-top: solid;
        margin-top: 2%;
        padding-left: 1%;
        padding-bottom: 1%;
        background-color: black;
    }
</style>
