<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% include 'header.twig' %}
    <div class="pri">
        <a href="./create"><button class="but">Create a paste</button></a>
    </div>
{% include 'footer.twig' %}
</body>
<style>
    body {
        border: solid;
    }
    button{
        outline: none;
        box-shadow: 0 5px lightgrey;
    }
    button:active{
        transform: translateY(3px);
        box-shadow: 0 2px lightgrey;
    }
    .pri{
        display: flex;
        justify-content: center;
    }
    .but{
        font-size: 200%;
        border-radius: 15%;
    }
</style>
</html>
